<!doctype html>
<html>

<head>
    <title>Image Repository</title>
</head>

<h2>Marketplace</h2>

<body>
    <a href="/devtool">Go To Developer Tool</a> <br>

    <br>

    <table border=1>
        <thead>
            <td>Name</td>
            <td>Price</td>
            <td>Image</td>
            <td></td>
        </thead>

        {% for item in inventory %}
        <tr>
            <td>{{item["name"]}}</td>
            <td>{{item["price"]}}</td>
            <td><img src='{{item["src"]}}' /></td>
            <td><a href='/buy/{{item["id"]}}'>BUY</button></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>